/* Global
----------------------------------------------- */
body {
  background-color: #272727 !important;
  color: #E3E3E3;
}
.container {
  background-color: #272727 !important;
}
a {
  color: #0072FE !important;
}
a:visited {
  color: #0072FE !important;
}
a:hover {
  color: #0072FE !important;
}
/* HEADER
----------------------------------------------- */
header {
  border-bottom: 3px solid #525252 !important;
}

/* LOGO
----------------------------------------------- */
.header h1.title {
  color: #E3E3E3 !important;
}
.header .titlewrapper, .header .descriptionwrapper {
  color: #333333 !important;
}

/* NAVIGATION
----------------------------------------------- */
#navigation a:visited {
  color: #979797;
}
nav ul li a {
  color: #979797;
}
.active a, nav ul li:hover a {
  color: #0372FF;
}
nav li ul {
  background-color: #fff;
  border: 1px solid #eee;
  border-top: 3px solid #0372FF;
}
nav li ul li a {
  color:  #979797 !important;
}
.marrow {
  color: #979797;
}
.m-button i {
  color: #979797;
}

/* MAIN CONTENT
----------------------------------------------- */
.trigger a {
  border: 2px solid #E1E1E1;
  background-color: #E1E1E1;
  color: #9D9D9D;
}
.error-title {
  color: #ff0000;
}
.error-description {
  color: #e3e3e3;
}

/* FOOTER
----------------------------------------------- */
footer .footer-rights {
  border-top: 3px solid #414141;
}

  /* LABELS
  ----------------------------------------------- */
  .list-label-widget-content li a {
    background-color: #F3F3F3;
    color: #525252;
    border: 1px solid #E2E2E2;
  }
  .list-label-widget-content li span {
    background-color: #F3F3F3;
    border: 1px solid #E2E2E2;
  }
  .list-label-widget-content li span:first-child {
    background-color: #F3F3F3;
  }
  .list-label-widget-content li a:hover, #footer-nav .list-label-widget-content li a:hover {
    color: #fff;
  }
  .cloud-label-widget-content .label-size a {
    color: #666;
    border: 1px solid #E2E2E2;
  }
  .label-size a:hover, .label-size:hover .label-count, .label-size:hover a {
    color: #FFF;
  }
  .cloud-label-widget-content .label-size span {
    color: #666;
    border: 1px solid #E2E2E2;
  }
  .cloud-label-widget-content .label-size span:first-child, .cloud-label-widget-content .label-size span:first-child span:nth-child(2) {
    color: #FFF;
  }

  /* STATUS MESSAGE
  ----------------------------------------------- */
  .status-msg-wrap {
    border: 1px solid #444;
  }
  .status-msg-bg {
    background-color: #333;
  }

  /* QUOTE
  ----------------------------------------------- */
  blockquote {
    background: none repeat scroll 0% 0% #F9F9F9;
    border: 1px solid #F1F1F1;
    border-left: 3px solid #0072FE;
    color: #A7A7A8;
  }

<b:if cond='data:blog.pageType == &quot;item&quot;'><style>
  .post {
    background-color: #333;
    border: 1px solid #222;
  }

  /* POST PAGER
  ----------------------------------------------- */
  .post-pager {
    background-color: #333;
    border: 1px solid #222;
  }
  .left-newer-link {
    color: #0072FE;
  }
  .right-older-link {
    color: #0072FE;
  }
</style></b:if>
<b:if cond='data:blog.pageType != &quot;index&quot;'><style>
  .date-header {
    background-color: #111;
    border: 1px solid #eee;
  }
  h3.post-title {
    border-bottom: 1px solid #515151;
  }
  .post-body {
    border-bottom: 3px solid #555;
  }
</style></b:if>
<b:if cond='data:blog.pageType == &quot;static_page&quot;'><style>
  .post.hentry {
    background-color: #333;
    border: 1px solid #222;
  }
  .post-title {
    border-bottom: 3px solid #333;
  }
  .post-body {
    border-bottom: 3px solid #333;
  }
</style></b:if>
<b:if cond='data:blog.pageType == &quot;error_page&quot;'><style>
  .error-description .error-line2 a:hover {
    color: #fff;
  }
</style></b:if>
