/* Content
----------------------------------------------- */
body {
  color: #666666 !important;
  background: #e7e7e7 !important;
}

a:link {
  color: #2288bb;
}

a:visited {
  color: #2288bb;
}

a:hover {
  color: #33aaff !important;
}

/* Header
----------------------------------------------- */
.Header h1 {
  color: #000000 !important;
  text-shadow: 0 0 0 rgba(0, 0, 0, .2);
}

.Header h1 a {
  color: #2288bb;
}

.Header .description {
  color: #000000 !important;
}

/* Tabs
----------------------------------------------- */
.tabs-inner .widget ul {
  color: #000000 !important;
}
.tabs-inner .widget li a {
  color: #000000 !important;
}
.tabs-inner .widget li.selected a, .tabs-inner .widget li a:hover {
  color: #000000 !important;
  background-color: #eeeeee !important;
}

/* Headings
----------------------------------------------- */
div.widget > h2,
div.widget h2.title {
  color: #000000;
}

/* Widgets
----------------------------------------------- */
.widget .zippy {
  color: #999999;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
}

/* Posts
----------------------------------------------- */
h2.date-header {
  background-color: #bbbbbb !important;
}

.date-header span {
  background-color: #bbbbbb !important;
  color: #ffffff;
}

.date-header-line-5h {
  background-color: #bbbbbb !important;
  border: 1px solid #bbbbbb !important;
}

.content-inner {
  background-color: #f0f0f0 !important;
}
.main-outer {
  background-color: #f0f0f0 !important;
}

.post-body img, .post-body .tr-caption-container, .Profile img, .Image img,
.BlogList .item-thumbnail img {
  background: #ffffff;
  border: 1px solid #eeeeee;

  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

.post-body .tr-caption-container {
  color: #666666;
}

.post-body .tr-caption-container img {
  background: transparent;

  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .1);
  box-shadow: 0 0 0 rgba(0, 0, 0, .1);
}

.post-footer {
  color: #666666 !important;
  background-color: #eeeeee !important;
  border-bottom: 1px solid #eeeeee !important;
}

#comments .comment-author {
  border-top: 1px solid transparent;
}

#comments .avatar-image-container img {
  border: 1px solid #eeeeee;
}

/* Comments
----------------------------------------------- */
.comments .comments-content .loadmore a {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

.comments .comment-thread.inline-thread {
  background-color: #eeeeee !important;
}

.comments .continue {
  border-top: 2px solid #999999;
}

/* Accents
---------------------------------------------- */
.section-columns td.columns-cell {
  border-$startSide: 1px solid transparent;
}

.blog-pager {
  background: transparent url(https://resources.blogblog.com/blogblog/data/1kt/simple/paging_dot.png) repeat-x scroll top center;
}

.blog-pager-older-link, .home-link,
.blog-pager-newer-link {
  background-color: #e7e7e7 !important;
}

.footer-outer {
  border-top: 1px dashed #bbbbbb;
}


/* アイコン（クリック対象）アイコンに合わせて調整 */
.archive-toggle:hover {
  background-color: #eeeeee !important;
}
/* アーカイブコンテナの初期状態：隠す */
.archive-wrapper {
  background: #e7e7e7 !important;
  border: 1px solid #ccc;
}
/* --- アーカイブのリストタイトル（月） --- */
/* --- 記事タイトル --- */
.BlogArchive .posts li a{
  color: #2288bb !important;
}
/* --- 記事の日付 --- */
.BlogArchive .post-count-link {
  color: #2288bb !important;
}
/* --- ホバー時の色変更 --- */
.BlogArchive a:hover {
  color: #2288bb !important;
}

.Attribution {display: none;}

