/* Global
----------------------------------------------- */
body {
  background-color: #F7F7F7 !important;
  color: #333333 !important;
}
/* HEADER
----------------------------------------------- */
header {
  border-bottom: 3px solid #E2E2E2 !important;
}

/* LOGO
----------------------------------------------- */
.header h1.title {
  color: #333333 !important;
}
.header .titlewrapper, .header .descriptionwrapper {
  color: #333333 !important;
}
/* NAVIGATION
----------------------------------------------- */
#navigation a:visited {
  color: #777777;
}
nav ul li a {
  color: #777777;
}
.active a, nav ul li:hover a {
  color: #0372FF;
}
nav li ul {
  background-color: #fff;
  border: 1px solid #eee;
  border-top: 3px solid #0372FF;
}
nav li ul li a {
  color:  #777777 !important;
}
.marrow {
  color: #777777;
}
.m-button i {
  color: #777777;
}
/* MAIN CONTENT
----------------------------------------------- */
.post {
  background-color: #ffffff !important;
  border: 1px solid #eee !important;
}
.trigger a {
  border: 2px solid #E1E1E1;
  background-color: #E1E1E1;
  color: #9D9D9D;
}
.error-description {
  color: #333333 !important;
}
/* FOOTER
----------------------------------------------- */
footer .footer-rights {
  border-top: 3px solid #E1E1E1 !important;
}
/* LABELS
----------------------------------------------- */
.list-label-widget-content li a {
  background-color: #F3F3F3;
  color: #525252;
  border: 1px solid #E2E2E2;
}
.list-label-widget-content li span {
  background-color: #F3F3F3;
  border: 1px solid #E2E2E2;
}
.list-label-widget-content li span:first-child {
  background-color: #F3F3F3;
}
.list-label-widget-content li a:hover, #footer-nav .list-label-widget-content li a:hover {
  color: #fff;
}
.cloud-label-widget-content .label-size a {
  color: #666;
  border: 1px solid #E2E2E2;
}
.label-size a:hover, .label-size:hover .label-count, .label-size:hover a {
  color: #FFF;
}
.cloud-label-widget-content .label-size span {
  color: #666;
  border: 1px solid #E2E2E2;
}
.cloud-label-widget-content .label-size span:first-child, .cloud-label-widget-content .label-size span:first-child span:nth-child(2) {
  color: #FFF;
}

/* STATUS MESSAGE
----------------------------------------------- */
.status-msg-wrap {
  border: 1px solid #eee !important;
}
.status-msg-bg {
  background-color: #FFF !important;
}

/* QUOTE
----------------------------------------------- */
blockquote {
  background: none repeat scroll 0% 0% #F9F9F9;
  border: 1px solid #F1F1F1;
  border-left: 3px solid #0072FE;
  color: #A7A7A8;
}

/* POST PAGER
----------------------------------------------- */
.post-pager {
  background-color: #FFF !important;
  border: 1px solid #EEE !important;
}
.date-header {
  background-color: #fff;
  border: 1px solid #eee;
}
h3.post-title {
  border-bottom: 1px solid #E1E1E1 !important;
}
.post-body {
  border-bottom: 3px solid #EEE !important;
}
.post.hentry {
  background-color: #FFF !important;
  border: 1px solid #eee !important;
}
.post-title {
  border-bottom: 3px solid #EEE !important;
}
.post-body {
  border-bottom: 3px solid #EEE !important;
}

/* LOADING SCREEN
----------------------------------------------- */
#loading-wrapper {
    background-color: #ffffff !important; /* îwåiêF */
}

/* ñæà√ÉAÉCÉRÉìÇÃîwåi */
.float-icon {
  background-color: rgba(128, 192, 192, 0.5); /* îºìßñæÇÃîwåi */
}
.float-icon:hover {
  background-color: rgba(128, 192, 192, 0.8);
}
