/* Global
----------------------------------------------- */
body {
  background-color: #F7F7F7;
  color: #333333;
}
.container {
  background-color: transparent;
}
a {
  color: #0072FE;
}
a:visited {
  color: #0072FE;
}
a:hover {
  color: #0072FE;
}
/* HEADER
----------------------------------------------- */
header {
  border-bottom: 3px solid #E2E2E2;
}

/* LOGO
----------------------------------------------- */
.header h1.title {
  color: #333333;
}
.header .titlewrapper, .header .descriptionwrapper {
  color: #333333;
}

/* NAVIGATION
----------------------------------------------- */
#navigation a:visited {
  color: #777777;
}
nav ul li a {
  color: #777777;
}
.active a, nav ul li:hover a {
  color: #0372FF;
}
nav li ul {
  background-color: #fff;
  border: 1px solid #eee;
  border-top: 3px solid #0372FF;
}
nav li ul li a {
  color:  #777777 !important;
}
.marrow {
  color: #777777;
}
.m-button i {
  color: #777777;
}

/* MAIN CONTENT
----------------------------------------------- */
.trigger a {
  border: 2px solid #E1E1E1;
  background-color: #E1E1E1;
  color: #9D9D9D;
}
.error-title {
  color: #ff0000;
}
.error-description {
  color: #333333;
}

/* FOOTER
----------------------------------------------- */
footer .footer-rights {
  border-top: 3px solid #E1E1E1;
}




  /* LABELS
  ----------------------------------------------- */
  .list-label-widget-content li a {
    background-color: #F3F3F3;
    color: #525252;
    border: 1px solid #E2E2E2;
  }
  .list-label-widget-content li span {
    background-color: #F3F3F3;
    border: 1px solid #E2E2E2;
  }
  .list-label-widget-content li span:first-child {
    background-color: #F3F3F3;
  }
  .list-label-widget-content li a:hover, #footer-nav .list-label-widget-content li a:hover {
    color: #fff;
  }
  .cloud-label-widget-content .label-size a {
    color: #666;
    border: 1px solid #E2E2E2;
  }
  .label-size a:hover, .label-size:hover .label-count, .label-size:hover a {
    color: #FFF;
  }
  .cloud-label-widget-content .label-size span {
    color: #666;
    border: 1px solid #E2E2E2;
  }
  .cloud-label-widget-content .label-size span:first-child, .cloud-label-widget-content .label-size span:first-child span:nth-child(2) {
    color: #FFF;
  }

  /* STATUS MESSAGE
  ----------------------------------------------- */
  .status-msg-wrap {
    border: 1px solid #eee;
  }
  .status-msg-bg {
    background-color: #FFF;
  }

  /* QUOTE
  ----------------------------------------------- */
  blockquote {
    background: none repeat scroll 0% 0% #F9F9F9;
    border: 1px solid #F1F1F1;
    border-left: 3px solid #0072FE;
    color: #A7A7A8;
  }

  /* POST PAGER
  ----------------------------------------------- */
  .post {
    background-color: #FFF;
    border: 1px solid #eee;
  }
  .post-pager {
    background-color: #FFF;
    border: 1px solid #EEE;
  }
  .date-header {
    background-color: #fff;
    border: 1px solid #eee;
  }
  h3.post-title {
    border-bottom: 1px solid #E1E1E1;
  }
  .post-body {
    border-bottom: 3px solid #EEE;
  }
  .post.hentry {
    background-color: #FFF;
    border: 1px solid #eee;
  }
  .post-title {
    border-bottom: 3px solid #EEE;
  }
  .post-body {
    border-bottom: 3px solid #EEE;
  }
  .error-description .error-line2 a:hover {
    color: #fff;
  }


#loading-wrapper {
    background-color: #272727; /* îwåiêF */
}
