body{
  background-color: #161616;  /* DarkSet 全体の背景色  */
  color:#bbbbbb; /* DarkSet 全体のフォント色  */
}

/*   目次
----------------------------------------------- */
#toc {
  background:#222222; /* DarkSet */
}

/*   記事のフォント
----------------------------------------------- */
.main-outer h1{
  color:#fecb17;  /* DarkSet */
}
.entry-title {
  color: #fff; /* DarkSet */
}

/*   ヘッダー 
--------------------------------------- */
.Header{
  background-color: #161616;  /* DarkSet 全体の背景色  */
}
/*   記事ページ
-------------------------------------------- */
.main-outer{
  border-left:1px solid #222222;  /* DarkSet */
  border-right:1px solid #222222; /* DarkSet */
}
.post-outer{
  box-shadow:1px 1px 5px rgba(0,0,0, 0.4); /* 影 */
}
/*   トップページ、カテゴリ、アーカイブの記事一覧
--------------------------------------------------------- */
.article-list{
  background-color:#222222; /* DarkSet */
}
.article-list:hover{
  background-color:#444444; /* DarkSet */
}
/*  記事一覧のタイトル  */

.article-list-title h2{
  color:#fecb17; /* DarkSet */
}
/*  記事一覧の公開日、カテゴリ名  */
.snippet{
  color:#bbb; /* DarkSet */
}
.post-timestamp {
  color:#bbb; /* DarkSet */
}
/*   関連記事 
-------------------------------------- */
#related-posts a{
  color:#bbb; /* DarkSet */
  background:#222222; /* DarkSet */
}
/*    コメント関連
------------------------------------------------ */
* コメント欄下区切り線 */
.comment-block{
  background-color: #080808; /* DarkSet */
}
/* 返信コメントの背景色 */
.comment-replies{
  background-color: #161616; /* DarkSet */
}
/* コメント欄内右側余白 */
.comment-content{
  background-color: #080808; /* DarkSet */
}
/* コメントエディタ */
#comment-form {
  background-color: #161616; /* DarkSet */
}
/*    ページナビゲーション
------------------------------------------------ */
.displaypageNum, .showpage, .pagecurrent {font-size: 14px;padding: 5px 12px;margin-right:5px; background-color:#333; text-decoration:none; color: #fff;}
.displaypageNum a:link, .showpage a:link {font-size: 14px;padding: 5px 12px;margin-right:5px; background-color:#333; text-decoration:none; color: #fff;}
.displaypageNum a:hover, .showpage a:hover, .pagecurrent {font-size: 14px;padding: 5px 12px;margin-right:5px; background:#359BED; text-decoration:none; color: #fff;}
.showpageOf{display:none!important}

/*   サイドバー
-------------------------------------- */
/*   サイドバー見出し   */
.sidebar h2,h3,h4{
  color:#bbbbbb; /* DarkSet */
}
/*   新着記事    
--------------------------------------- */
.bcd140526_post_feed li.item h3.title a {
  color: #bbb; /* DarkSet */
}
/*   人気記事    
--------------------------------------- */
.jump2imageUrlback {
  color: #bbb; /* DarkSet */
  background-color:#222222; /* DarkSet */
}
.jump2imageUrlback:hover {
  color: #fff; /* DarkSet */
  background-color:#444444; /* DarkSet */
}
.jump2imageUrl img {
  filter: brightness(90%);  /* DarkSet */
}
.jump2imageUrl:hover img {
  filter: brightness(110%);  /* DarkSet */
}
/*   ラベル
-------------------------------------------- */  
.list-label-widget-content ul li a {
  color: #bbbbbb; /* DarkSet */
  background-color: #080808; /* DarkSet */
  border: 1px solid #333333; /* DarkSet */
}
/*   リンクリスト
-------------------------------------------- */  
.LinkList ul li a {
  color: #bbb; /* DarkSet */
}
/*   先頭へ戻るボタン
--------------------------------------------------- */
.gsc-search-box input{
  background-color: #333333; /* DarkSet */
  color: #ffffff; /* DarkSet */
}
